html {
  background-color: #454545;
  font-family: sans-serif;
  width: 100dvw;
  color: #fafafa;
}

body {
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
