.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(80px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.text {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(18px);
  margin-left: auto;

  @media (max-width: 75em) {
    padding-top: rem(50px);
    font-size: rem(14px);
    margin-left: 0;
  }
}
