---
// Component Imports
import Counter from '../components/Counter.vue'
import '../styles/global.css'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const title = 'Financegoras - Track your expenses!'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>{title}</title>
    <meta
      name='description'
      content='Financegoras helps you track your expenses and manage your finances with simple interfaces and powerful tools.'
    />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <style>
      html,
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <main>
      <Counter client:visible>
        <h1>Hello, Financegoras!</h1>
      </Counter>
    </main>
  </body>
</html>
